In [41]:
import pandas as pd
import sqlite3

# Accessing the Queried Database file

In [34]:
conn = sqlite3.connect("test.db")

cmd = \
"""
SELECT *
FROM tiktok
"""

df = pd.read_sql_query(cmd, conn)

conn.close()

In [39]:
df[['date_pulled', 'video_title', 'creator_nickname', 'sound_transcribed']].iloc[0:4]

,date_pulled,video_title,creator_nickname,sound_transcribed
0,2022-02-10 12:15:05.438295,This is the best present üéÅ Santa could give.. ...,BADDIES ONLY,boyfriend
1,2022-02-10 12:15:07.910793,Follow my instagram : akamztweenty,Akamz,NA
2,2022-02-10 12:15:09.175711,EXCUSE MI THIS FANSERVICE THO üò© #fyp #bts #bts...,ùô¢ùôûùô£ùôôùôÆ ‚òÜÂΩ°,NA
3,2022-02-10 12:15:11.314537,This how we start off my sister‚Äôs day.,otakoyakisoba,I miss your dad so big

# Checking the Transcribed Sound

In [40]:
df['upload_time'][3]

'https://v16-webapp.tiktok.com/8ed8e1118310a2a13ff722c9bd13f8e1/6205c6af/video/tos/maliva/tos-maliva-ve-0068c799-us/0ee4fb19f8b643a28c6a488271e6212a/?a=1988&br=2926&bt=1463&cd=0%7C0%7C1%7C0&ch=0&cr=0&cs=0&cv=1&dr=0&ds=3&er=&ft=XOQ9-3E7nz7ThvjPpDXq&l=2022021020150401024502411218900D8D&lr=tiktok_m&mime_type=video_mp4&net=0&pl=0&qs=0&rc=Mzs0bDc6Zjd1OjMzZzczNEApOTs5Ojg5PGVkN2U8ZDlmZmc0MGFqcjRfYG5gLS1kMS9zczEuMzAvXjUyNC1hMC5eMmE6Yw%3D%3D&vl=&vr='